<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='basic.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1 ><a href="#" class="logo">FACEDUCK</h1></a>
<p class="name"> {% if session['logged_in'] == True %}
    <b>welcome {{session['username']}} </b>
    {% else %}
       <b>  welcome Guest</b>
    {% endif %}
</p>
<div>
        {% if session['logged_in'] %}
        <ul>
          <li><a class="p-2 text-dark" href="{{ url_for('dash') }}">Dashboard</a></li>
          <li><a class="p-2 text-dark" href="{{ url_for('blog')}}">Add Blog</a></li>
          <li><a class="p-2 text-dark" href="{{ url_for('mycontent') }}">My Content</a></li>
          <li><a class="p-2 text-dark" href="{{ url_for('logout') }}" style="float:right;">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a class="p-2 text-dark" href="{{ url_for('dash') }}">Dashboard</a></li>
          <li><a class="p-2 text-dark" href="/login">Log In/Register</a></li>
        </ul>
        {% endif %}

</div>
<div>
    {% block content %}
    {% endblock %}
</div>

    <footer style="{ position:fixed;bottom:0; }">
    BUILD BY RAJESH SINGH USING PYTHON-FLASK MICRO FRAMEWORK   Copyright 2021 &copy; RAJESH SINGH<br>
        <a href="https://github.com/Rajeshsingh127"><i class="fa fa-github" style="font-size: 40px; margin: 20px;"></i></a>
        <a href="https://www.linkedin.com/in/rajesh-singh-94aa76207/"><i class="fa fa-linkedin" style="font-size: 40px;"></i></a>

    </footer>

</body>
</html>