<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>FACEDUCK</h1>
<p> {% if session['logged_in'] == True %}
        welcome {{session['username']}}
    {% else %}
         welcome Guest
    {% endif %}
</p>
<div>
<nav>
    <a class="p-2 text-dark" href="/" title="Home">Home</a>
        {% if session['logged_in'] %}
          <a class="p-2 text-dark" href="{{ url_for('dash') }}">Dashboard</a>
          <a class="p-2 text-dark" href="{{ url_for('blog')}}">Add Blog</a>
          <a class="p-2 text-dark" href="{{ url_for('mycontent') }}">My Content</a>
          <a class="p-2 text-dark" href="/logout">Logout</a>
        {% else %}
          <a class="p-2 text-dark" href="{{ url_for('dash') }}">Dashboard</a>
          <a class="p-2 text-dark" href="/login">Log In/Register</a>
        {% endif %}
</nav>
</div>
<div>
    {% block content %}
    {% endblock %}
</div>

    <div style="position: absolute; bottom: 5px;">
    BUILD BY RAJESH SINGH USING PYTHON-FLASK MICRO FRAMEWORK   Copyright 2021 &copy; RAJESH SINGH


</body>
</html>