<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>FACEDUCK</h1>
<p> {% if session['logged_in'] == True %}
        welcome {{session['username']}}
    {% else %}
         welcome Guest
    {% endif %}
</p>
<div>
<nav>
    <a class="p-2 text-dark" href="/" title="Home">Home</a>
        {% if session['logged_in'] %}
          <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
          <a class="p-2 text-dark" href="/logout">Logout</a>
        {% else %}
          <a class="p-2 text-dark" href="/login">Log In/Register</a>
        {% endif %}
</nav>
</div>
<div>
    {% block content %}
    {% endblock %}
</div>


<footer class="text-center">Created by <a href="#">RAJESH SINGH</a>, built using <a href="#">PYTHON-FLASK</a>

</body>
</html>