{% extends 'base.html' %}

{% block title %}DASHBOARD{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
  {% endwith %}
{% if post %}
    {% for part in post %}
    <div class="post">
        <h1>{{part.title}} </h1>
        <div class="detail">
        <p><span>By: </span>{{part.username}}</p>
        <p><span>Published: </span>{{part.date_posted}}</p>
        </div>
        <p><span></span>{{part.content}}</p>
    </div>
    {% endfor %}
{% else %}
    <h2>NOTHING TO SEE HERE</h2>
{% endif %}
{% endblock %}