{% extends 'base.html' %}

{% block title %}HOME {% endblock %}

{% block content %}
<CENTER>
<form method="post" action="/logindb">
    <h2>LOGIN FORM</h2>
    <input PLACEHOLDER="USERNAME" type="text" name="username"><br>
    <input PLACEHOLDER="PASSWORD" type="password" name="password"><br>
    <input type="submit" value="LOGIN">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}"> {{ message }} </div>
            {% endfor %}
        {% endif %}
  {% endwith %}
</form>
<p>new user? <a href="/signup">signup here</a></p>
</CENTER>
{% endblock %}