{% extends 'base.html' %}

{% block title %}SIGNUP {% endblock %}

{% block content %}
<CENTER>
<form method="post" action="{{url_for('signupdb')}}">
    <h1>SIGN UP FORM</h1>
    <input placeholder="NAME" type="text" name="idname"><br>
    <input placeholder="USERNAME" type="text" name="idusername"><br>
    <input placeholder="EMAIL" type="email" name="idemail"><br>
    <input placeholder="PASSWORD" type="password" name="idpassword"><br>
    <input type="radio" name = 'gender' value="male">Male
            <input type="radio" name = 'gender' value="female">Female<br>
    <input type="submit" name="idsubmit" value="SUBMIT">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}"> {{ message }} </div>
            {% endfor %}
        {% endif %}
  {% endwith %}<br>
<p>already have an account <a href="/login">login here</a> </p>
</CENTER>
{% endblock %}