{% extends 'base.html' %}

{% block title %}SIGNUP {% endblock %}

{% block content %}

<form method="post" action="{{url_for('signupdb')}}">
<center><h1>SIGN UP FORM</h1></center>
    Name:<input type="text" name="idname"><br>
    username:<input type="text" name="idusername"><br>
    Email:<input type="email" name="idemail"><br>
    Password:<input type="password" name="idpassword"><br>
    Gender:<input type="radio" name = 'gender' value="male">Male
            <input type="radio" name = 'gender' value="female">Female<br>
    <input type="submit" name="idsubmit" value="SUBMIT">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}"> {{ message }} </div>
            {% endfor %}
        {% endif %}
  {% endwith %}<br>
<p>already have an account <a href="/login">login here</a> </p>
{% endblock %}