{% extends 'base.html' %}

{% block title %}SIGNUP {% endblock %}

{% block content %}
<CENTER>
<form method="post" action="{{url_for('signupdb')}}">
    <h1>SIGN UP FORM</h1>
    <input placeholder="NAME" type="text" name="idname" style=" width: 30%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;margin-top: 10px;
  text-align: center;"><br>
    <input placeholder="USERNAME" type="text" name="idusername" style=" width: 30%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;margin-top: 10px;
  background-color: #f8f8f8;
  font-size: 20px;
  text-align: center;"><br>
    <input placeholder="EMAIL" type="email" name="idemail" style=" width: 30%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
  text-align: center;"><br>
    <input placeholder="PASSWORD" type="password" name="idpassword" style=" width: 30%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;margin-top: 10px;
  font-size: 20px;
  text-align: center;"><br>
    <input type="radio" name = 'gender' value="male">Male
            <input type="radio" name = 'gender' value="female">Female<br>
    <input type="submit" name="idsubmit" value="SUBMIT">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}"> {{ message }} </div>
            {% endfor %}
        {% endif %}
  {% endwith %}<br>
<p>already have an account <a href="/login">login here</a> </p>
</CENTER>
{% endblock %}